
# With some inspiration from: https://github.com/mvdan/github-actions-golang 

name: Testing
on: [push, pull_request]
jobs:

  test:
    name: Go Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x]
    steps:

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.go-version}}
      id: go

    - name: Check out code
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Run tests
      run: go test -v -cover ./...


# Disabling linting for now while in heavy development
#  lint:
#    name: Go Lint
#    runs-on: ubuntu-latest
#    steps:
#
#    - name: Install Go
#      uses: actions/setup-go@v2
#      with:
#        go-version: 1.15
#      id: go
#
#    - name: Check out code
#      uses: actions/checkout@v2
#
#    - name: Run lint'ing
#      run: |
#        export PATH=$PATH:$(go env GOPATH)/bin # temporary fix. See https://github.com/actions/setup-go/issues/14
#        go get -v -t golang.org/x/lint/golint
#        golint -set_exit_status ./...
